*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-page{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.left{
    justify-content: center;
    display: grid;
    align-items: center;
    border: 1px solid black;
    width: 60%;
    height: 90vh;
}
.f-nav{
    display: flex;
    float: inline-start;
    width: 100%;
    height: 10vh;
    border: 1px solid black;
}
.parent-nav{
    display: block;
    width: 100%;
}